# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Environment & Secrets
*.env
*.pem
*.key
terraform.tfvars
token.json

# OS & IDE
.DS_Store
.vscode/
.idea/
__pycache__/
*.pyc
